<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="console.io" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode node_env="development" debugHeaderEnabled="true" />
        <rewrite>
            <rules>
                <rule name="all" patternSyntax="ECMAScript" >
                    <match url=".*" />
                    <action type="Rewrite" url="server.js/$1" />
                </rule>
            </rules>
        </rewrite>

        <!--<webSocket enabled="false" />-->
    </system.webServer>
</configuration>