html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.status {
    float: left;
    height: 16px;
    width: 16px;
    margin: 2px 10px 2px 1px;
}

.editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.editor .CodeMirror {
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.editor .CodeMirror-activeline-background {
    background: #e8f2ff !important;
}

.editor .CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}

.editor .CodeMirror-foldgutter {
    width: .7em;
}

.editor .CodeMirror-foldgutter-open,
.editor .CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}

.editor .CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.editor .CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.editor .CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.editor dt {
    font-family: monospace;
    color: #666;
}

.editor .CodeMirror-empty.CodeMirror-focused {
    outline: none;
}

.editor .CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Console] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Preview] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Source] > div[ida=dhxMainCont] {
    overflow: auto !important;
}

/* Status Tab*/
.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .label {
    border: 1px solid #a6dbff;
    margin: 10px;
    font-family: Tahoma;
    font-size: 11px;
    display: table;
    width: 97%;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .title {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background: #a6dbff;
    display: table-caption;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property {
    display: table-row;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property:nth-child(even) {
    background: #FFF;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property:nth-child(odd) {
    background: #e8f2ff;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .name {
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    width: 20%;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .value {
    display: table-cell;
    padding: 5px;
    width: 80%;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .value .valueList,
.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .value .valueText {
    word-break: break-all;
}