html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.editor .CodeMirror {
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.editor .CodeMirror-activeline-background {
    background: #e8f2ff !important;
}

.editor .CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.editor .CodeMirror-empty.CodeMirror-focused {
    outline: none;
}

.editor .CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Console] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Preview] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Source] > div[ida=dhxMainCont] {
    overflow: auto !important;
}

/* Status Tab*/
.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .label {
    border: 1px solid #a6dbff;
    margin: 10px;
    font-family: Tahoma;
    font-size: 11px;
    background: #a6dbff;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .title {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property {
    padding: 3px;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property:nth-child(even) {
    background: #FFF;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .property:nth-child(odd) {
    background: #e8f2ff;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .name {
    display: inline-block;
    font-weight: bold;
    width: 150px;
    padding: 2px;
}

.dhx_tabcontent_zone > div[tab_id^=Status] > div[ida=dhxMainCont] .value {
    display: inline-block;
    padding: 2px;
}