html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.status {
    float: left;
    height: 16px;
    width: 16px;
    margin: 2px 10px 2px 1px;
}

.editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.editor .CodeMirror {
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.editor .CodeMirror-activeline-background {
    background: #e8f2ff !important;
}

.editor .CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}

.editor .CodeMirror-foldgutter {
    width: .7em;
}

.editor .CodeMirror-foldgutter-open,
.editor .CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}

.editor .CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.editor .CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.editor .CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.editor dt {
    font-family: monospace;
    color: #666;
}

.editor .CodeMirror .CodeMirror-placeholder {
    color: #999;
}

.dhx_tabcontent_zone > div[tab_id^=Console] > div[ida=dhxMainCont],
.dhx_tabcontent_zone > div[tab_id^=Preview] > div[ida=dhxMainCont] {
    overflow: auto !important;
}

.dhx_acc_item_label {
    text-transform: capitalize;
}

.dhx_tabcontent_zone > div[tab_id^=Profile] > div[ida=dhxMainCont] .containerTableStyle>table {
    margin: 0 !important;
}

.dhx_tabcontent_zone > div[tab_id^=Profile] > div[ida=dhxMainCont] .standartTreeRow,
.dhx_tabcontent_zone > div[tab_id^=Profile] > div[ida=dhxMainCont] .standartTreeRow_lor,
.dhx_tabcontent_zone > div[tab_id^=Profile] > div[ida=dhxMainCont] .standartTreeImage {
    height: 20px !important;
    line-height: 20px !important;
}