::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resizer {
    background-color: white;
}

::-webkit-scrollbar-button:vertical {
    height: 5px;
}

::-webkit-scrollbar-button:horizontal {
    width: 5px;
}

::-webkit-scrollbar-track-piece:vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:horizontal {
    margin-right: 10px;
    margin-left: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:vertical {
    border-right: 4px solid white;
    border-left: 4px solid white;
}

::-webkit-scrollbar-thumb:horizontal {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}