html, body {
    background-color: white;
    margin: 0;
    padding: 0;
}

li {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 800px;
}

#wrapper {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    background-color: white;
    color: black;
    margin: 5px;
}